*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
  
body {
    font-family: letter gothic std, serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #CCFFFF;

}

p {
    margin-bottom: 16px;
}

header {
    height: 44px;
}

header h1 {
    float: left;
    text-align:center;
    font-family: letter gothic std, arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
    padding: 20px; /*TRouBLe */
    background-color: #00C196; 
    width: 594px;
    height: 130%;
    margin-left: 40px

}

header a {
    color: #ffffff;
    margin-right: 31px;
    text-decoration: none;
}

header a:link {
color: #00C196;
}


header a:visited {
color: #00C196;
}


header a:hover {
    color: #aaaaaa;
}

header a:active {
    text-decoration: underline;
}

header a:focus {}

header h1 a { 
    color: #ffffff !important;
}

nav {
    float: left;
    margin-top: 10px;
    margin-left: 40px;
    width: 46%;
    color: #00C196;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;    
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
    margin-left: 400px;
    width: 50%
}

ul {
list-style-type: circle;
margin-left: 400px

}

 footer {
    clear: both;
    font-size: 12px;
    padding: 0 10px 0 10px;
    margin-left: 115px;
    margin-top: 45px;
}

.homepage {
    margin-left: 400px;
}

.headshot {
    width: 20%;
    float: left;
    margin-left: 102px;
}

.headshot img {
    width: 100%; 
}

.left {
    float: left;
    padding: 10px
}

.adamsmile {
    float: right;
    padding: 0 10px 0 10px;
}


.testclass {
clear: left;
margin: 50px;
}

.contact {
color: #00C196;
margin-left: 110px;
}

.email {
clear: left;
text-align:center;
margin-left: 25%;
background-color:#00C196;
color: #ffffff;
width: 50%
}
        
.about {
max-width: 63%;
margin-left: 110px 
}
