* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
  
body {
    font-family: letter gothic std, serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffffff;

}

p {
    margin-bottom: 16px;
}

header {
    height: 44px;
}

header h1 {
    text-align:center;
    font-family: letter gothic std, arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
    padding: 10px; /*TRouBLe */
    background-color: #00C196;
}

header nav {
    float: left;
    margin-top: 10px;
}

header a {
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
}

header a:link {}


header a:visited {}


header a:hover {
    color: #aaaaaa;
}

header a:active {
    text-decoration: underline;
}

header a:focus {}


article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

ul
{list-style-type: circle;
margin-left: 20px
}
aside {
    background-color: #ffffff;
    float: right;
    margin: 0 0  10px 5%;
    width: 45% 
}

 footer {
    clear: both;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

.headshot {
    width: 100%;
    border: 20px solid red;
    float: left;
}

.left {
    float: left;
}
    